body {
    margin: 0 auto;
font-family: helvetica;
   background-image: url(images/flag.gif);
    background-size: cover;

}

.flex-container {
  margin-left: 30px;
    width: 1150px;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
  margin-top: 100px;
  margin-bottom: 30px;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 30px;
}


button:hover {
    color: blue;
    border-radius: 10px;
}

h1 {
  font-size: 70px;
   text-align: center;
   top: 40px;
}
h2{
  font-size: 50px;
}
p{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
span{
  color: blue;
  font-size: 30px;
}
