body {
    margin: 0 auto;
    background-image: url(images/flag.gif);
    background-size: cover;

}

div.trump img {
    margin: 30px;
    width: 100px;
    height: 100px;
}

div.oval img {
    margin: 30px;
    width: 100px;
    height: 100px;
}

div.clinton img {
    margin: 30px;
    width: 100px;
    height: 100px;
}

.flex-container {

    width: 1250px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    align-self: flex-start;
}

button {
    font-size: 30px;
    margin: 20px auto;
    margin-left: 45%;
    margin-bottom: 40px;
}
button:hover{
    color:blue;
    border-radius: 10px;
}
